@import '~sass/variables';

:host{
 
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height:100%;

  background-color: $side-panel-bckgrd; 
  
  .hideSection {
		display:none!important;
	}

}