@import '~sass/components/tables';
@import '~sass/components/buttons';
@import '~sass/mixins';

$dark-gray: #7E91A1;
// $base-gray: #9EB1C2;

:host-context(.modal-dialog){
    // width: 700px!important;
    ::ng-deep json-editor .jsoneditor-modes {
        // display: none;
    }
}
:host {
    display: flex;
    // padding: 40px 50px;
    border: 1px solid $base-gray-secondary;
    height:832px;
    // min-width: 775px;
    position: relative;
    top: 0px;

    @include disable-area($opacity: 0.3, $background: transparent)

}
:host-context(.modal-body) {
    .fake {
        // background: yellow;
        width: 100%!important;
    }
    .fake-empty {
        width: 0!important;
    }
}
.empty-row {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: bold;
    color: yellowgreen;
    height: 55px;
}
::ng-deep .ng-select {
    &.ng-select-single .ng-select-container .ng-value-container,
    .ng-select span, .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
        font-size: 16px;
    }
}
// some how the 2 following condition host
// are not applied on the element
// :host('.modal-ctnr') {
//     position: relative;
//     top: 0px;
//     display: flex;
//     padding: 40px 50px;
//     border: 1px solid $base-gray-secondary;
//     height:600px!important;
// }

// :host('.config') {
//     display: flex;
//     padding: 40px 50px;
//     border: 1px solid $base-gray-secondary;
//     height:832px;
//     width: 52%;
// }

hr{ margin-bottom: 30px;}

:host-context(.modal-content) {
    .json-like-view{

        .scrollable-area {
            height:560px!important;    
        }
    }
}
:host-context(.choose-configuration) {
    .json-like-view{

        .scrollable-area {
            height:558px!important;   
            &.XS {
                height: 484px!important;
            } 
        }

        .scrollable-area.short {
            height:540px!important; 
            &.XS {
                height: 480px !important;
            }    
        }
    }
}
.json-like-view{ width: 100%;
    .body-title{ font-size: 18px; font-weight: 700; line-height: 24px; color:$base-dark-blue-primary; margin-bottom: 20px; }
    hr.title {
        border-top: 2px solid $base-gray;
    }
	.sub-title{font-size: 13px; line-height: 20px; color:#9EB1C2; font-weight: 400; display:block; }
    .item-text{font-size: 13px; line-height: 17px; color: $base-dark-blue-primary; font-weight: 600; }
    .first-line{
        margin-top: 0!important;
        margin-bottom: 20px;
    }
    
    .donothover:hover {
        background: #43BA8A;
        cursor: default;
    }
    
	.action-area{
        // width: 33%;
        width: 35%;
        position: relative;
        // top: 20px;
        margin-bottom: 20px;
        margin-top: 0;
        display: flex; 
        justify-content: flex-end;
    }
    .top-details{ 
        display:flex;
        flex-wrap: wrap;
        // justify-content: space-between;
        background: darken($color: #FCFCFD, $amount: 1%)();
        padding: 40px 50px;
        // padding-bottom: 15px; 
       
        button {
            width: 160px;
            height: 40px;
            border-radius: 20px;
            // border: 1px;
            border-style: hidden;
            

            color: white;
            &.testing {
               
                background: $base-orange;
                border-color: $base-orange;
                @include etl-font-semi-bold(13px);
                &:hover {
                    cursor: pointer;
                }
            }
            &.success {
              
                background: $base-light-green;
                border-color: $base-light-green;
            }
        }
        span.success{
            display: block;
            color: $base-light-green;
            @include etl-font-regular(10px);
            line-height: 10px;
        }
        
        button .checkmark {
            display: inline-block;
            left: 4px; 
            top: 0px; 
            width: 9px; 
            height: 16px; 
            border: solid $white; 
            border-width: 0 2px 2px 0; 
            -webkit-transform: rotate(45deg); 
            -ms-transform: rotate(45deg); 
            transform: rotate(45deg);
          }
		.details-item{ 
            width: 25%;
            line-height: 14px;
            padding-top: 16px;
        }
        .details-item-lg, .details-item-vlg, .details-item-sm{
            .title {
                color: $base-dark-blue-primary; 
                @include etl-font-semi-bold(22px);
            }
            margin-top: 10px;
            // width: 33%;
            line-height: 14px;
            // padding-top: 16px;
        }
        .details-item-lg {
            padding-top: 0;
            width: 50%;
        }
        .details-item-lg.full-line {
            width: 100%;
        }
        .details-item-lg.first-line {
            width: 65%;
        }
        .details-item-sm {
            padding-top: 16px;
            width: 25%;
        }
        .details-item-md {
            padding-top: 16px;
            width: 33%;
            .ng-select {
                width: 100%!important;
            }
            
        }
        .details-item-vlg {
            width: 100%;
            margin-top: 0;
            padding-top: 8px;
        }
    }
    &.empty-json-view {
        .top-content {
            // background: #43BA8A;
            // width: 100%;
            height: 142px;
            // position: absolute;
            // overflow: hidden;
           .top-details, 
           {
                height: 142px;
                padding: 25px 50px;
           }
           .error
            { 
                .error-title{
                    height: 20px;
                    color: white;

                }
                .details-item-vlg {
                    margin-top: 20px;
                }
                padding: 10px 25px;
                position: absolute;
                overflow: hidden;
                // background: lightblue;
                background: $failed;
                color: white;
                font-size: 13px;
                font-weight: 100;
                width: 100%;
                height: 142px;
                // border: 1px solid gray;
                border: 2px solid white;
                // border-width: 0px;
                // left: 100%;
                // -moz-transition: left 1s ease, width 0s ease-out 1s, border-width 0s ease-out 1s;
                // -webkit-transition: left 1s ease, width 0s ease-out 1s, border-width 0s ease-out 1s;
            }
        //    .error{
        //         background: $failed;
        //         color: white;
        //         font-size: 13px;
        //         font-weight: 100;
        //     }
        }
       ::ng-deep json-editor .jsoneditor-mode-code{
            // top: 142px;
            height: 687px;
        }
    }
        hr.top-details {
        margin-bottom: 0;
        padding: 0;
       // border-top: 1px solid $base-gray; 
        margin-top: unset;
    }
    .config-selection-header{
        padding:0 50px;
        display: flex;
        height: 71px;
        border-top: 1px solid $base-gray; 
        border-bottom: 1px solid $base-gray; 
        /* justify-content: inherit; */
        align-items: center;
        .config-selection-title{
            width: 66%;
            border-right: 1px solid $base-gray;       
            line-height: 60px;
         }
        .config-selection{
            padding-left: 30px;
            width: 34%;
        }
    }
    .json-selection-view {
        .top-details {
            background: white;
            .top-details {
                padding: 0;
            }
            // justify-content: baseline;
        }
        // padding: 50px 30px;
    }
	.bottom-mapping{ 
         padding-top: 15px;
         .first { margin-bottom: 15px;}
		.mapping-item{ padding-bottom: 14px; line-height: 17px; }	
    }
    .bottom-rules{ padding-top: 15px;
		.rules-item{ padding-bottom: 14px; line-height: 17px; }	
    }

    .bottom-rules.top-details,
    .bottom-mapping.top-details{
        padding-top: 15px;
        padding: 10px;
    }
    .bottom-mapping.top-details{
        margin-bottom:20px;
    }
    .scrollable-area {
        margin-top: 0;
        // height:530px;
        // padding-left: 10px;

        .details-section {
            margin-top: 15px;
            color: $base-dark-blue-primary;
            @include etl-font-semi-bold(16px);
        }
    }
    // @include customScrl($ele:'.test.scrollable-area', $dir: rtl);
    @include customScrl($ele:'.test.scrollable-area');

    ::ng-deep ngb-accordion{
        width: 100%;
        .card {
            background-color: lighten( $header-bckgd, 50%);
            margin-bottom: 1px;
            .card-header {
                background-color: $header-bckgd;
            }
        }
    }
    .panel-title{
        height: 50px;
        width: 100%;
        border:1px solid;
    }

    ::ng-deep .card-header.active{
        .arrow-down{
            transform: translate(-50%, -50%);
            &:before{transform: rotate(-225deg);
            }
        }
    }
    ::ng-deep .card-body {
        max-height: 0px;
        transition: max-height 1s ease;
        
        &.collapse.show {
            //transform: transition;
            max-height: 600px;
            
        }
    }

    .arrow-down {
        position: relative;
        // top: 50%;
        // left: 100%;
        transform: translate(-50%, -60%);
        line-height: 24px;
        &:before {
            border-left: 2px solid $base-gray;
            border-bottom: 2px solid $base-gray;
            width: 8px;
            height: 8px;
            display: inline-block;
            text-align: center;
            content: '';
            color: $base-gray;
            transition: all .5s ease;
            transform: rotate(-45deg);
            position: relative;
            top: 10px;
        }
}
.header {
    color:$base-dark-blue-secondary;
    @include etl-font-semi-bold(14px);
    display: flex;
    justify-content: space-between;
}
    //     .arrow-down {
    //         position: relative;
    //         top: 50%;
    //         left: 100%;
    //         transform: translate(-50%, -60%);
    //         line-height: 24px;
    //         &:before {
    //             border-left: 2px solid $base-gray;
    //             border-bottom: 2px solid $base-gray;
    //             width: 8px;
    //             height: 8px;
    //             display: inline-block;
    //             text-align: center;
    //             content: '';
    //             color: $base-gray;
    //             transition: all .5s ease;
    //             transform: rotate(-45deg);
    //             position: relative;
    //             top: 10px;
    //         }
    // }
    // .header {
    //     color:$base-dark-blue-secondary;
    //     @include etl-font-semi-bold(14px);
    //     display: flex;
    //     justify-content: space-between;
    // }
}