<a [routerLink]="['/home']" *ngIf="!state">
    <div class="container effect-shine">
      <div class="animate default-one">
        <span class="char-0">d</span>
        <span class="char-1">i</span>
        <span class="char-2">g</span>
        <span class="char-3">g</span>
        <span class="char-4">y</span>
      </div>
    </div>
  </a>

    
  <a [routerLink]="['/home']" *ngIf="state">
    <div class="container effect-shine">
      <div class="animate default-one">
        <span class="char-0">d</span>
        <span class="char-1">i</span>
        <span class="char-2">g</span>
        <span class="char-3">g</span>
        <span class="char-4">y</span>
      </div>
    </div>
  </a>